@{
    ViewData["Title"] = "Home Page";
}

<div class="min-vh-100 container d-flex flex-column text-center">
    <div>
        <h1 class="display-6 ms-3">Registros de la Propiedad Automotor (DNRPA)</h1>
        <h3>¿Qué desea realizar?</h3>
    </div>

    <div class="mt-3 mx-auto">
        <a class="btn btn-primary btn-lg m-2"
           asp-controller="Transaccion" asp-action="Generar">
            Generar Nueva Patente
        </a>

        <a class="btn btn-primary btn-lg m-2"
           asp-controller="Transaccion" asp-action="Transferencia">
            Transferir Patente
        </a>

        <a class="btn btn-primary btn-lg m-2"
           asp-controller="Transaccion" asp-action="Obtener">
            Obtener por Rango
        </a>

        <a class="btn btn-primary btn-lg m-2"
           asp-controller="Transaccion" asp-action="ObtenerPorDni">
            Obtener por DNI
        </a>

        <a class="btn btn-primary btn-lg m-2"
           asp-controller="Transaccion" asp-action="ObtenerTitular">
            Obtener Titular por CUil
        </a>

        <a class="btn btn-primary btn-lg m-2"
           asp-controller="Transaccion" asp-action="ObtenerVehiculo">
            Obtener Vehiculo por Patente
        </a>

    </div>
</div>
