<h2>Buscar Transacciones por DNI</h2>

<form asp-action="ObtenerPorDni" method="post" class="mt-4">

    <div class="mb-3">
        <label>DNI</label>
        <input name="dni" class="form-control" required />
    </div>

    <button class="btn btn-primary">Buscar</button>
</form>
